# Dependencies
node_modules
.pnp
.pnp.js

# Build output
dist
dist-ssr
build
.cache
.parcel-cache

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment
.env
.env.local
.env.*.local

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage

# Temp
*.log
*.tmp
